In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
from ipywidgets import interact, fixed

# Create The Model For Our Algorithm
To be able to calculate teams I would like to be able to input "Team1", "Team2" into the algorithm and have the algorithm spit out the probability that each team will win the game.

To do this we must set up The game data so that the supervised machine learning algorithm we use can be trained using game data rather than seasonal data.

In [97]:
season_data = pd.read_pickle("calculated_season_data")
game_data = pd.read_pickle("regular_season_detailed_results")
tourney_games = pd.read_pickle("tourney_detailed_results")

In [110]:
season_data.head()

,Team_Name,Season,Win_Percentage,Points_Per_Game,Percent_FG_Made,Percent_FT_Made,Percent_3s_Made,OR_Per_Game,DR_Per_Game,Assists_Per_Game,TO_Per_Game,Steals_Per_Game,Blocks_Per_Game,Fouls_Per_Game
Team_Id,,,,,,,,,,,,,,
1102,Air Force,2003,0.428571,57.25,0.481149,0.651357,0.375643,6.17857,16,13,11.4286,5.67857,1.78571,18.75
1103,Akron,2003,0.481481,78.7778,0.486074,0.73639,0.33871,10.963,20,15.2222,12.6296,6.62963,2.33333,19.8519
1104,Alabama,2003,0.607143,69.2857,0.420362,0.709898,0.320144,15.0357,29.9286,12.1071,13.2857,7.53571,3.78571,18.0357
1105,Alabama A&M,2003,0.269231,71.7692,0.395755,0.705986,0.364815,7.46154,13.3077,14.5385,18.6538,4.96154,2.07692,20.2308
1106,Alabama St,2003,0.464286,63.6071,0.423773,0.646421,0.346154,11.25,22.1071,11.6786,17.0357,8.39286,3.14286,18.1786

In [112]:
game_data.head()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,Lfga3,Lftm,Lfta,Lor,Ldr,Last,Lto,Lstl,Lblk,Lpf
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14

In [113]:
tourney_games.head()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,Lfga3,Lftm,Lfta,Lor,Ldr,Last,Lto,Lstl,Lblk,Lpf
0,2003,134,1421,92,1411,84,N,1,32,69,...,31,14,31,17,28,16,15,5,0,22
1,2003,136,1112,80,1436,51,N,0,31,66,...,16,7,7,8,26,12,17,10,3,15
2,2003,136,1113,84,1272,71,N,0,31,59,...,28,14,21,20,22,11,12,2,5,18
3,2003,136,1141,79,1166,73,N,0,29,53,...,17,12,17,14,17,20,21,6,6,21
4,2003,136,1143,76,1301,74,N,1,27,64,...,21,15,20,10,26,16,14,5,8,19

# Reformat The Game Data
In this section we will reformat the game data so that it is usable in our regression machine learning model.

In [114]:
def convert_season_tourney_data(games, tourney):
    game_data = convert_game_data(games).reset_index()
    tourney_data = convert_game_data(tourney).reset_index()
    
    joined_data = game_data.append(tourney_data)
    joined_data["index"] = [i for i in range(len(joined_data))]
    joined_data.set_index("index", inplace=True)
    
    return joined_data

In [115]:
def convert_game_data(games):
#     basic_cols = ["Season", "Daynum", "Numot"]
    basic_cols = ["Numot"]
    loc_col = "Wloc"
    w_team_cols = get_team_columns(True)
    l_team_cols = get_team_columns(False)
    
    #grab winning and losing data
    w_team = games[w_team_cols]
    l_team = games[l_team_cols]
    l_team.columns = w_team.columns
    
    # concatenate data together
    w_team_join = pd.concat([games[basic_cols], w_team], axis=1)
    w_team_join = calc_fg_percents(w_team_join)
    w_team_join["Win"] = 1
    l_team_join = pd.concat([games[basic_cols], l_team], axis=1)
    l_team_join = calc_fg_percents(l_team_join)
    l_team_join["Win"] = 0
    
    #final append of data
    joined_data = w_team_join.append(l_team_join)
    joined_data["index"] = [i for i in range(len(joined_data))]
    joined_data.set_index("index", inplace=True)
    
    return joined_data

Gets the data associated with the columns for the winning team or losing team

In [116]:
def get_team_columns(is_winning_team=False):
    team_cols = ["team", "score", "fgm", "fga", "fgm3", "fga3", "ftm", "fta", "or", "dr", "ast", "to", "stl", "blk", "pf"]
    ret_cols = []
    prefix = "L"
    
    if is_winning_team:
        prefix = "W"
    
    for col in team_cols:
        ret_cols.append(prefix + col)
    
    return ret_cols

Calculates the percentages of columns for a game

In [117]:
def calc_fg_percents(joined_data):
    joined_data = calc_fg(joined_data)
    joined_data = calc_ft(joined_data)
    joined_data = calc_3s(joined_data)
    
    return joined_data

Calculates the percentage of field goals made during a game

In [118]:
def calc_fg(joined_data):
    temp = joined_data.copy()
    temp["Wfgp"] = temp["Wfgm"] / temp["Wfga"]
    temp.drop(["Wfgm", "Wfga"], axis=1, inplace=True)
    temp.fillna(0, axis=1, inplace=True)
    
    return temp

Calculates the percentage of free throws made in a game

In [119]:
def calc_ft(joined_data):
    temp = joined_data.copy()
    temp["Wftp"] = temp["Wftm"] / temp["Wfta"]
    temp.drop(["Wftm", "Wfta"], axis=1, inplace=True)
    temp.fillna(0, axis=1, inplace=True)
    
    return temp

Calculate the percentage of 3 pointers made during a game

In [120]:
def calc_3s(joined_data):
    temp = joined_data.copy()
    temp["Wfgp3"] = temp["Wfgm3"] / temp["Wfga3"]
    temp.drop(["Wfgm3", "Wfga3"], axis=1, inplace=True)
    temp.fillna(0, axis=1, inplace=True)
    
    return temp

In [122]:
model = convert_season_tourney_data(game_data, tourney_games)

# model.Wfgp = model.Wfgp.astype("float32")
# model.Wftp = model.Wftp.astype("float32")
# model.Wfgp3 = model.Wfgp3.astype("float32")

model.head()

,Numot,Wteam,Wscore,Wor,Wdr,Wast,Wto,Wstl,Wblk,Wpf,Wfgp,Wftp,Wfgp3,Win
index,,,,,,,,,,,,,,
0,0,1104,68,14,24,13,23,7,1,22,0.465517,0.611111,0.214286,1
1,0,1272,70,15,28,16,13,4,4,18,0.419355,0.526316,0.400000,1
2,0,1266,73,17,26,15,10,5,2,25,0.413793,0.586207,0.444444,1
3,0,1296,56,6,19,11,12,14,2,18,0.473684,0.548387,0.333333,1
4,0,1400,77,17,22,12,14,4,4,20,0.491803,0.846154,0.428571,1

# Create The Train/Test Split
In this section we create the train/test split in our data so that we can test the accuracy of different models and also compute the effectiveness of each feature(column) in our data.

In [123]:
from sklearn import cross_validation

In [124]:
feature_columns = model.columns[0:len(model.columns) - 1]
target_column = "Win"

X = model[feature_columns]
y = model[target_column]

# Split data
Xtrain, Xtest, ytrain, ytest = cross_validation.train_test_split(X, y)

# Calculate Importances Of Features
In this section we use the RandomForestClassifier to calculate the importance of features and remove the features that are not significant. This will reduce our chances of overfitting the data to our chosen model.

In [125]:
from sklearn import ensemble

In [126]:
forest_class = ensemble.RandomForestClassifier()
forest_class.fit(Xtrain, ytrain)
forest_ytest = forest_class.predict(Xtest)

Output the accuracy of the forest model of our training data.

In [127]:
print(forest_class.score(Xtrain, ytrain))

0.989837926417

Here we output the importances of each column and analyze which columns are important and which are not.

In [128]:
def get_importances(X, forest_class):
    return pd.DataFrame(list(zip(X.columns, forest_class.feature_importances_))).sort_values(1, ascending=False)

In [129]:
importances = get_importances(X, forest_class)
importances

         0         1
2   Wscore  0.181342
10    Wfgp  0.145315
4      Wdr  0.133457
9      Wpf  0.100765
12   Wfgp3  0.066898
11    Wftp  0.062490
6      Wto  0.058485
7     Wstl  0.056579
1    Wteam  0.056362
5     Wast  0.048062
3      Wor  0.042782
8     Wblk  0.038665
0    Numot  0.008797

# Fit Our First Model
In this section we try to fit the data to a model and analyze the accuracy of the fit. We will also make sure to remove the least important features from our data before fitting to a model.

In [130]:
from sklearn import linear_model

In [131]:
logistic_class = linear_model.LogisticRegression(solver="newton-cg")
logistic_class.fit(Xtrain, ytrain)
logistic_predict = logistic_class.predict(Xtest)

Output the score of the logistic regression model.

In [132]:
logistic_class.score(Xtest, ytest)

0.8425359712230216

# Remove Unnecessary Features
In this section we will remove the unnecessary features that we analyzed above to make sure our model is accurate and we are not overfitting the data.

Calculate all columns with values higher than our threshold value of 0.05

In [133]:
threshold = 0.05
# new_columns = list(importances[importances[1] > threshold][0])
new_columns = list(importances[0:len(importances) - 4][0])

Refit model with new columns and test the accuracy of our logistic model.

In [134]:
X = model[new_columns]
y = model["Win"]

Xtrain, Xtest, ytrain, ytest = cross_validation.train_test_split(X, y)

In [135]:
logistic_class = linear_model.LogisticRegression(solver="newton-cg")
logistic_class.fit(Xtrain, ytrain)
logistic_predict = logistic_class.predict(Xtest)
logistic_class.score(Xtest, ytest)

0.83845923261390887

# Analyze Column Importance Again

In [136]:
forest_class = ensemble.RandomForestClassifier()
forest_class.fit(Xtrain, ytrain)
forest_ytest = forest_class.predict(Xtest)

In [137]:
get_importances(X, forest_class)

        0         1
1    Wfgp  0.211818
0  Wscore  0.159544
2     Wdr  0.148017
3     Wpf  0.106977
4   Wfgp3  0.082025
5    Wftp  0.078375
8   Wteam  0.074566
6     Wto  0.071684
7    Wstl  0.066993

COULD POSSIBLY USE THIS LATER

In [ ]:
# def remove_game_data(season_data, game_data, isLeftTeam):
#     column_prefix = ""
    
#     if isLeftTeam:
#         column_prefix = "L"
#     else:
#         column_prefix = "R"
     
#     ret_data = season_data.reset_index()
#     ret_data.drop(["Season", "Team_Id", "Team_Name"], inplace=True, axis=1)
#     ret_data.rename(columns={
# #             "Team_Id": column_prefix + "team_Id",
# #             "Team_Name": column_prefix + "team_Name",
#             "Win_Percentage": column_prefix + "win_Percentage",
#             "Points_Per_Game": column_prefix + "points_Per_Game",
#             "Percent_FG_Made": column_prefix + "percent_FG_Made",
#             "Percent_FT_Made": column_prefix + "percent_FT_Made",
#             "Percent_3s_Made": column_prefix + "percent_3s_Made",
#             "OR_Per_Game": column_prefix + "or_Per_Game",
#             "DR_Per_Game": column_prefix + "dr_Per_Game",
#             "Assists_Per_Game": column_prefix + "assists_Per_Game",
#             "TO_Per_Game": column_prefix + "to_Per_Game",
#             "Steals_Per_Game": column_prefix + "steals_per_game",
#             "Blocks_Per_Game": column_prefix + "blocks_Per_Game",
#             "Fouls_Per_Game": column_prefix + "fouls_Per_Game"
#         }, inplace=True)
    
#     return ret_data

### Create The Actual Model
This function will create the actual model that we will use to train our machine learning algorithm with.

In [ ]:
def create_game_model(games, seasons):
    model = pd.DataFrame()
    
    for i in range(1000):
        if i % 1000 == 0:
            print(i)
            
        game = games.loc[i]
        w_team = get_team_data(game["Wteam"], game["Season"])
        l_team = get_team_data(game["Lteam"], game["Season"])

        # grab season data minus the game in question
        season_l_team = remove_game_data(w_team, game, True)
        season_r_team = remove_game_data(l_team, game, False)

        joined_season_win = None
        
        if i % 2 == 0:
            joined_season_win = pd.concat([season_l_team, season_r_team], axis=1)
            joined_season_win["Win"] = 1
        else:
            joined_season_win = pd.concat([season_r_team, season_l_team], axis=1)
            joined_season_win["Win"] = 0
            joined_season_win.columns = model.columns
            
        joined_season_win["index"] = i
        joined_season_win.set_index("index", inplace=True)
    #     joined_season_lose = pd.concat([season_l_team, season_w_team], axis=1)
    #     joined_season_lose["Win"] = 0
        model = model.append(joined_season_win)
#         model = pd.concat([model, joined_season_win])
    
    return model

In [ ]:
#testing the function
model = create_game_model(game_data, season_data)

In [ ]:
from sklearn import linear_model

from sklearn import neural_network

In [ ]:
feature_columns = model.columns[0:len(model.columns) - 1]
target_column = "Win"

X = model[feature_columns]
y = model[target_column]

# Split data
Xtrain, Xtest, ytrain, ytest = cross_validation.train_test_split(X, y)

# clf = neural_network.BernoulliRBM()
# clf.fit(Xtrain, ytrain)

clf = linear_model.LogisticRegression()
clf.fit(Xtrain, ytrain)
clf.score(Xtest, ytest)
clf.coef_

In [ ]:
y.mean()

In [ ]:
pd.DataFrame(list(zip(X.columns, np.transpose(clf.coef_))))