# Pandas Documentation on Merge, Join and Concatenation

In this notebook, you will work through the Pandas documentation on merging, joining and concatenation.

## Imports

In [1]:
import numpy as np
import pandas as pd

## Merge, join and concatenation

In this notebook, you are going to learn how to use Pandas by typing the code from the Pandas documentation into this notebook.

* Go to the Pandas documentation on [merge, join, and concatenate](http://pandas.pydata.org/pandas-docs/stable/merging.html#merge-join-and-concatenate).
* Type all of the code from that section of the documentation into this notebook and get it working.
* **To learn this API well, you must type the code rather than copy and pasting it**.
* Create a new cell in this section for each `In[]` prompt in the documentation.
* Ignore the cells in the **Grading** section below.
* No Markdown comments are needed.
* Skip the following sub-sections:
  - More concatenating with group keys
  - Joining a single Index to a Multi-index
  - Joining with two multi-indexes
  - Joining multiple DataFrame or Panel objects

## Grading

In [2]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                  index=[0,1,2,3])

In [3]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                  index=[4,5,6,7])

In [4]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                  index=[8,9,10,11])

In [5]:
frames = [df1, df2, df3]

In [6]:
result = pd.concat(frames)

In [7]:
result

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [8]:
result = pd.concat(frames, keys=['x','y','z'])

In [9]:
result

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

In [10]:
result.ix['y']

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [11]:
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                  index=[2,3,6,7])

In [12]:
result = pd.concat([df1,df4], axis=1)

In [13]:
result

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

In [14]:
result = pd.concat([df1, df4], axis=1, join='inner')

In [15]:
result

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

In [16]:
result = pd.concat([df1,df4], axis=1, join_axes=[df1.index])

In [17]:
result

    A   B   C   D    B    D    F
0  A0  B0  C0  D0  NaN  NaN  NaN
1  A1  B1  C1  D1  NaN  NaN  NaN
2  A2  B2  C2  D2   B2   D2   F2
3  A3  B3  C3  D3   B3   D3   F3

In [18]:
result = df1.append(df2)

In [19]:
result

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [20]:
result = df1.append(df4)

In [21]:
result

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
2  NaN  B2  NaN  D2   F2
3  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

In [22]:
result = df1.append([df2, df3])

In [23]:
result

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [24]:
result = pd.concat([df1, df4], ignore_index=True)

In [25]:
result

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
4  NaN  B2  NaN  D2   F2
5  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

In [26]:
result = df1.append(df4, ignore_index=True)

In [27]:
result

     A   B    C   D    F
0   A0  B0   C0  D0  NaN
1   A1  B1   C1  D1  NaN
2   A2  B2   C2  D2  NaN
3   A3  B3   C3  D3  NaN
4  NaN  B2  NaN  D2   F2
5  NaN  B3  NaN  D3   F3
6  NaN  B6  NaN  D6   F6
7  NaN  B7  NaN  D7   F7

In [28]:
s1 = pd.Series(['X0', 'X1', 'X2', 'X3'], name='X')

In [29]:
result = pd.concat([df1, s1], axis=1)

In [30]:
result

    A   B   C   D   X
0  A0  B0  C0  D0  X0
1  A1  B1  C1  D1  X1
2  A2  B2  C2  D2  X2
3  A3  B3  C3  D3  X3

In [31]:
s2 = pd.Series(['_0', '_1', '_2', '_3'])

In [32]:
result = pd.concat([df1, s2, s2, s2], axis=1)

In [33]:
result

    A   B   C   D   0   1   2
0  A0  B0  C0  D0  _0  _0  _0
1  A1  B1  C1  D1  _1  _1  _1
2  A2  B2  C2  D2  _2  _2  _2
3  A3  B3  C3  D3  _3  _3  _3

In [34]:
result = pd.concat([df1, s1], axis=1, ignore_index=True)

In [35]:
result

    0   1   2   3   4
0  A0  B0  C0  D0  X0
1  A1  B1  C1  D1  X1
2  A2  B2  C2  D2  X2
3  A3  B3  C3  D3  X3

In [36]:
s2 = pd.Series(['X0', 'X1', 'X2', 'X3'], index=['A', 'B', 'C', 'D'])

In [37]:
result = df1.append(s2, ignore_index=True)

In [38]:
result

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  X0  X1  X2  X3

In [39]:
dicts = [{'A': 1, 'B': 2, 'C': 3, 'X': 4},
         {'A': 5, 'B': 6, 'C': 7, 'Y': 8}]

In [40]:
result = df1.append(dicts, ignore_index=True)

In [41]:
result

    A   B   C    D   X   Y
0  A0  B0  C0   D0 NaN NaN
1  A1  B1  C1   D1 NaN NaN
2  A2  B2  C2   D2 NaN NaN
3  A3  B3  C3   D3 NaN NaN
4   1   2   3  NaN   4 NaN
5   5   6   7  NaN NaN   8

In [42]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                    'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3']})

In [43]:
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']})

In [44]:
result = pd.merge(left, right, on='key')

In [45]:
result

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K2  C2  D2
3  A3  B3  K3  C3  D3

In [46]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})

In [47]:
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                     'key2': ['K0', 'K0', 'K0', 'K0'],
                     'C': ['C0', 'C1', 'C2', 'C3'],
                     'D': ['D0', 'D1', 'D2', 'D3']})

In [48]:
result = pd.merge(left, right, on=['key1', 'key2'])

In [49]:
result

    A   B key1 key2   C   D
0  A0  B0   K0   K0  C0  D0
1  A2  B2   K1   K0  C1  D1
2  A2  B2   K1   K0  C2  D2

In [50]:
result = pd.merge(left, right, how='left', on=['key1', 'key2'])

In [51]:
result

    A   B key1 key2    C    D
0  A0  B0   K0   K0   C0   D0
1  A1  B1   K0   K1  NaN  NaN
2  A2  B2   K1   K0   C1   D1
3  A2  B2   K1   K0   C2   D2
4  A3  B3   K2   K1  NaN  NaN

In [52]:
result = pd.merge(left, right, how='right', on=['key1', 'key2'])

In [53]:
result

     A    B key1 key2   C   D
0   A0   B0   K0   K0  C0  D0
1   A2   B2   K1   K0  C1  D1
2   A2   B2   K1   K0  C2  D2
3  NaN  NaN   K2   K0  C3  D3

In [54]:
result = pd.merge(left, right, how='outer', on=['key1', 'key2'])

In [55]:
result

     A    B key1 key2    C    D
0   A0   B0   K0   K0   C0   D0
1   A1   B1   K0   K1  NaN  NaN
2   A2   B2   K1   K0   C1   D1
3   A2   B2   K1   K0   C2   D2
4   A3   B3   K2   K1  NaN  NaN
5  NaN  NaN   K2   K0   C3   D3

In [56]:
result = pd.merge(left, right, how='inner', on=['key1', 'key2'])

In [57]:
result

    A   B key1 key2   C   D
0  A0  B0   K0   K0  C0  D0
1  A2  B2   K1   K0  C1  D1
2  A2  B2   K1   K0  C2  D2

In [58]:
df1 = pd.DataFrame({'col1':[0,1], 'col_left':['a','b']})

In [59]:
df2 = pd.DataFrame({'col1':[1,2,2], 'col_right':[2,2,2]})

In [60]:
pd.merge(df1, df2, on='col1', how='outer', indicator=True)

   col1 col_left  col_right      _merge
0     0        a        NaN   left_only
1     1        b          2        both
2     2      NaN          2  right_only
3     2      NaN          2  right_only

In [61]:
pd.merge(df1, df2, on='col1', how='outer', indicator='indicator_column')

   col1 col_left  col_right indicator_column
0     0        a        NaN        left_only
1     1        b          2             both
2     2      NaN          2       right_only
3     2      NaN          2       right_only

In [62]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                   index=['K0', 'K1', 'K2'])

In [63]:
right = pd.DataFrame({'C': ['C0', 'C1', 'C2'],
                     'D': ['D0', 'D1', 'D2']},
                   index=['K0', 'K2', 'K3'])

In [64]:
result = left.join(right)

In [65]:
result

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C1   D1

In [66]:
result = left.join(right, how='outer')

In [67]:
result

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C1   D1
K3  NaN  NaN   C2   D2

In [68]:
result = left.join(right, how='inner')

In [69]:
result

     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C1  D1

In [70]:
result = pd.merge(left, right, left_index=True, right_index=True, how='outer')

In [71]:
result

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C1   D1
K3  NaN  NaN   C2   D2

In [72]:
result = pd.merge(left, right, left_index=True, right_index=True, how='outer')

In [73]:
result

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C1   D1
K3  NaN  NaN   C2   D2

In [74]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'key': ['K0', 'K1', 'K0', 'K1']})

In [75]:
right = pd.DataFrame({'C': ['C0', 'C1'],
                      'D': ['D0', 'D1']},
                      index=['K0', 'K1'])

In [76]:
result = left.join(right, on='key')

In [77]:
result

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K0  C0  D0
3  A3  B3  K1  C1  D1

In [78]:
result = pd.merge(left, right, left_on='key', right_index=True, how='left', sort=False)

In [79]:
result

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K0  C0  D0
3  A3  B3  K1  C1  D1

In [80]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1']})

In [81]:
index = pd.MultiIndex.from_tuples([('K0', 'K0'), ('K1', 'K0'),
                                   ('K2', 'K0'), ('K2', 'K1')])

In [82]:
right = pd.DataFrame({'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']},
                      index=index)

In [83]:
result = left.join(right, on=['key1', 'key2'])

In [84]:
result

    A   B key1 key2    C    D
0  A0  B0   K0   K0   C0   D0
1  A1  B1   K0   K1  NaN  NaN
2  A2  B2   K1   K0   C1   D1
3  A3  B3   K2   K1   C3   D3

In [85]:
result = left.join(right, on=['key1', 'key2'], how='inner')

In [86]:
result

    A   B key1 key2   C   D
0  A0  B0   K0   K0  C0  D0
2  A2  B2   K1   K0  C1  D1
3  A3  B3   K2   K1  C3  D3

In [87]:
left = pd.DataFrame({'k': ['K0', 'K1', 'K2'], 'v': [1,2,3]})

In [88]:
right = pd.DataFrame({'k': ['K0', 'K0', 'K3'], 'v': [4,5,6]})

In [89]:
result = pd.merge(left, right, on='k')

In [90]:
result

    k  v_x  v_y
0  K0    1    4
1  K0    1    5

In [91]:
result = pd.merge(left, right, on='k', suffixes=['_l', '_r'])

In [92]:
result

    k  v_l  v_r
0  K0    1    4
1  K0    1    5

In [93]:
left = left.set_index('k')

In [94]:
right = right.set_index('k')

In [95]:
result = left.join(right, lsuffix='_l', rsuffix='_r')

In [96]:
result

    v_l  v_r
k
K0    1    4
K0    1    5
K1    2  NaN
K2    3  NaN

In [97]:
left = pd.DataFrame({'k': ['K0', 'K1', 'K1', 'K2'],
                  'lv': [1, 2, 3, 4],
                  's': ['a', 'b', 'c', 'd']})

In [98]:
right = pd.DataFrame({'k': ['K1', 'K2', 'K4'],
                      'rv': [1, 2, 3]})

In [99]:
result = pd.ordered_merge(left, right, fill_method='ffill', left_by='s')

In [100]:
result

     k  lv  s  rv
0   K0   1  a NaN
1   K1   1  a   1
2   K2   1  a   2
3   K4   1  a   3
4   K1   2  b   1
5   K2   2  b   2
6   K4   2  b   3
7   K1   3  c   1
8   K2   3  c   2
9   K4   3  c   3
10  K1 NaN  d   1
11  K2   4  d   2
12  K4   4  d   3

In [101]:
df1 = pd.DataFrame([[np.nan, 3., 5.], [-4.6, np.nan, np.nan],
                    [np.nan, 7., np.nan]])

In [102]:
df2 = pd.DataFrame([[-42.6, np.nan, -8.2], [-5., 1.6, 4]],
                    index=[1, 2])

In [103]:
result = df1.combine_first(df2)

In [104]:
result

     0   1    2
0  NaN   3  5.0
1 -4.6 NaN -8.2
2 -5.0   7  4.0

In [105]:
df1.update(df2)