# Pandas Documentation on Group By

In this notebook, you will work through the Pandas documentation on "group by".

## Imports

In [1]:
import numpy as np
import pandas as pd

## Pandas group by: split-apply-combine

In this notebook, you are going to learn how to use Pandas by typing the code from the Pandas documentation into this notebook.

* Go to the Pandas Documentation for [Group By](http://pandas.pydata.org/pandas-docs/stable/groupby.html#group-by-split-apply-combine).
* Type all of the code from that section of the documentation into this notebook and get it working.
* **To learn this API well, you must type the code rather than copy and pasting it**.
* Create a new cell in this section for each `In[]` prompt in the documentation.
* Ignore the cells in the **Grading** section below.
* No Markdown comments are needed.
* Skip the following sub-sections:
  - Grouping with a Grouper specification
  - Plotting
  - Examples

## Grading

In [2]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})

In [3]:
df

     A      B         C         D
0  foo    one -0.381743  0.879962
1  bar    one  1.058695 -1.532314
2  foo    two -1.692350  0.492412
3  bar  three  0.050536  0.607687
4  foo    two -0.195593  0.675123
5  bar    two -1.389943  0.654054
6  foo    one  0.227421 -1.403941
7  foo  three  0.967222 -0.192067

In [4]:
grouped = df.groupby('A')

In [5]:
grouped = df.groupby(['A', 'B'])

In [6]:
def get_letter_type(letter):
    if letter.lower() in 'aeiou':
        return 'vowel'
    else:
        return 'consonant'

In [7]:
grouped = df.groupby(get_letter_type, axis=1)

In [8]:
lst = [1, 2, 3, 1, 2, 3]

In [9]:
s = pd.Series([1, 2, 3, 10, 20, 30], lst)

In [10]:
grouped = s.groupby(level=0)

In [11]:
grouped.first()

1    1
2    2
3    3
dtype: int64

In [12]:
grouped.last()

1    10
2    20
3    30
dtype: int64

In [13]:
grouped.sum()

1    11
2    22
3    33
dtype: int64

In [14]:
df2 = pd.DataFrame({'X' : ['B', 'B', 'A', 'A'], 'Y' : [1, 2, 3, 4]})

In [15]:
df2.groupby(['X']).sum()

   Y
X
A  7
B  3

In [16]:
df2.groupby(['X'], sort=False).sum()

   Y
X
B  3
A  7

In [17]:
df3 = pd.DataFrame({'X' : ['A', 'B', 'A', 'B'], 'Y' : [1, 4, 3, 2]})

In [18]:
df3.groupby(['X']).get_group('A')

   X  Y
0  A  1
2  A  3

In [19]:
df3.groupby(['X']).get_group('B')

   X  Y
1  B  4
3  B  2

In [20]:
df.groupby('A').groups

{'bar': [1, 3, 5], 'foo': [0, 2, 4, 6, 7]}

In [21]:
df.groupby(get_letter_type, axis=1).groups

{'consonant': ['B', 'C', 'D'], 'vowel': ['A']}

In [22]:
grouped = df.groupby(['A', 'B'])

In [23]:
grouped.groups

{('bar', 'one'): [1],
 ('bar', 'three'): [3],
 ('bar', 'two'): [5],
 ('foo', 'one'): [0, 6],
 ('foo', 'three'): [7],
 ('foo', 'two'): [2, 4]}

In [24]:
len(grouped)

6

In [25]:
df

     A      B         C         D
0  foo    one -0.381743  0.879962
1  bar    one  1.058695 -1.532314
2  foo    two -1.692350  0.492412
3  bar  three  0.050536  0.607687
4  foo    two -0.195593  0.675123
5  bar    two -1.389943  0.654054
6  foo    one  0.227421 -1.403941
7  foo  three  0.967222 -0.192067

In [26]:
gb = df.groupby('A')

In [27]:
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
          ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]

In [28]:
index = pd.MultiIndex.from_arrays(arrays, names=['first', 'second'])

In [29]:
s = pd.Series(np.random.randn(8), index=index)

In [30]:
s

first  second
bar    one       0.935381
       two      -0.042591
baz    one       1.881199
       two       1.574999
foo    one       0.083051
       two      -0.482152
qux    one       0.162477
       two       0.048949
dtype: float64

In [31]:
grouped = s.groupby(level=0)

In [32]:
grouped.sum()

first
bar    0.892790
baz    3.456198
foo   -0.399101
qux    0.211426
dtype: float64

In [33]:
s.groupby(level='second').sum()

second
one    3.062108
two    1.099205
dtype: float64

In [34]:
s.sum(level='second')

second
one    3.062108
two    1.099205
dtype: float64

In [35]:
s

first  second
bar    one       0.935381
       two      -0.042591
baz    one       1.881199
       two       1.574999
foo    one       0.083051
       two      -0.482152
qux    one       0.162477
       two       0.048949
dtype: float64

In [36]:
s.groupby(level=['first', 'second']).sum()

first  second
bar    one       0.935381
       two      -0.042591
baz    one       1.881199
       two       1.574999
foo    one       0.083051
       two      -0.482152
qux    one       0.162477
       two       0.048949
dtype: float64

In [37]:
grouped = df.groupby(['A'])

In [38]:
grouped_C = grouped['C']

In [39]:
grouped_D = grouped['D']

In [40]:
df['C'].groupby(df['A'])

In [41]:
grouped = df.groupby('A')

In [42]:
for name, group in grouped:
    print(name)
    print(group)

bar
     A      B         C         D
1  bar    one  1.058695 -1.532314
3  bar  three  0.050536  0.607687
5  bar    two -1.389943  0.654054
foo
     A      B         C         D
0  foo    one -0.381743  0.879962
2  foo    two -1.692350  0.492412
4  foo    two -0.195593  0.675123
6  foo    one  0.227421 -1.403941
7  foo  three  0.967222 -0.192067

In [43]:
for name, group in df.groupby(['A', 'B']):
    print(name)
    print(group)

('bar', 'one')
     A    B         C         D
1  bar  one  1.058695 -1.532314
('bar', 'three')
     A      B         C         D
3  bar  three  0.050536  0.607687
('bar', 'two')
     A    B         C         D
5  bar  two -1.389943  0.654054
('foo', 'one')
     A    B         C         D
0  foo  one -0.381743  0.879962
6  foo  one  0.227421 -1.403941
('foo', 'three')
     A      B         C         D
7  foo  three  0.967222 -0.192067
('foo', 'two')
     A    B         C         D
2  foo  two -1.692350  0.492412
4  foo  two -0.195593  0.675123

In [44]:
grouped.get_group('bar')

     A      B         C         D
1  bar    one  1.058695 -1.532314
3  bar  three  0.050536  0.607687
5  bar    two -1.389943  0.654054

In [45]:
df.groupby(['A', 'B']).get_group(('bar', 'one'))

     A    B         C         D
1  bar  one  1.058695 -1.532314

In [46]:
grouped = df.groupby('A')

In [47]:
grouped.aggregate(np.sum)

            C         D
A
bar -0.280712 -0.270573
foo -1.075042  0.451488

In [48]:
grouped = df.groupby(['A', 'B'])

In [49]:
grouped.aggregate(np.sum)

                  C         D
A   B
bar one    1.058695 -1.532314
    three  0.050536  0.607687
    two   -1.389943  0.654054
foo one   -0.154322 -0.523979
    three  0.967222 -0.192067
    two   -1.887942  1.167534

In [50]:
grouped = df.groupby(['A', 'B'], as_index=False)

In [51]:
grouped.aggregate(np.sum)

     A      B         C         D
0  bar    one  1.058695 -1.532314
1  bar  three  0.050536  0.607687
2  bar    two -1.389943  0.654054
3  foo    one -0.154322 -0.523979
4  foo  three  0.967222 -0.192067
5  foo    two -1.887942  1.167534

In [52]:
df.groupby('A', as_index=False).sum()

     A         C         D
0  bar -0.280712 -0.270573
1  foo -1.075042  0.451488

In [53]:
df.groupby(['A', 'B']).sum().reset_index()

     A      B         C         D
0  bar    one  1.058695 -1.532314
1  bar  three  0.050536  0.607687
2  bar    two -1.389943  0.654054
3  foo    one -0.154322 -0.523979
4  foo  three  0.967222 -0.192067
5  foo    two -1.887942  1.167534

In [54]:
grouped.size()

A    B
bar  one      1
     three    1
     two      1
foo  one      2
     three    1
     two      2
dtype: int64

In [55]:
grouped.describe()

                C         D
0 count  1.000000  1.000000
  mean   1.058695 -1.532314
  std         NaN       NaN
  min    1.058695 -1.532314
  25%    1.058695 -1.532314
  50%    1.058695 -1.532314
  75%    1.058695 -1.532314
  max    1.058695 -1.532314
1 count  1.000000  1.000000
  mean   0.050536  0.607687
  std         NaN       NaN
  min    0.050536  0.607687
  25%    0.050536  0.607687
  50%    0.050536  0.607687
  75%    0.050536  0.607687
  max    0.050536  0.607687
2 count  1.000000  1.000000
  mean  -1.389943  0.654054
  std         NaN       NaN
  min   -1.389943  0.654054
  25%   -1.389943  0.654054
  50%   -1.389943  0.654054
  75%   -1.389943  0.654054
  max   -1.389943  0.654054
3 count  2.000000  2.000000
  mean  -0.077161 -0.261990
  std    0.430744  1.614964
  min   -0.381743 -1.403941
  25%   -0.229452 -0.832966
  50%   -0.077161 -0.261990
  75%    0.075130  0.308986
  max    0.227421  0.879962
4 count  1.000000  1.000000
  mean   0.967222 -0.192067
  std         NaN       NaN
  min    0.967222 -0.192067
  25%    0.967222 -0.192067
  50%    0.967222 -0.192067
  75%    0.967222 -0.192067
  max    0.967222 -0.192067
5 count  2.000000  2.000000
  mean  -0.943971  0.583767
  std    1.058367  0.129196
  min   -1.692350  0.492412
  25%   -1.318160  0.538089
  50%   -0.943971  0.583767
  75%   -0.569782  0.629445
  max   -0.195593  0.675123

In [56]:
grouped = df.groupby('A')

In [57]:
grouped['C'].agg([np.sum, np.mean, np.std])

          sum      mean       std
A
bar -0.280712 -0.093571  1.230663
foo -1.075042 -0.215008  0.975208

In [58]:
grouped['D'].agg({'result1' : np.sum,
                  'result2' : np.mean})

      result2   result1
A
bar -0.090191 -0.270573
foo  0.090298  0.451488

In [59]:
grouped.agg([np.sum, np.mean, np.std])

            C                             D
          sum      mean       std       sum      mean       std
A
bar -0.280712 -0.093571  1.230663 -0.270573 -0.090191  1.249131
foo -1.075042 -0.215008  0.975208  0.451488  0.090298  0.927330

In [60]:
grouped.agg({'C' : np.sum,
             'D' : lambda x: np.std(x, ddof=1)})

            D         C
A
bar  1.249131 -0.280712
foo  0.927330 -1.075042

In [61]:
grouped.agg({'C' : 'sum', 'D' : 'std'})

            D         C
A
bar  1.249131 -0.280712
foo  0.927330 -1.075042

In [62]:
df.groupby('A').sum()

            C         D
A
bar -0.280712 -0.270573
foo -1.075042  0.451488

In [63]:
df.groupby(['A', 'B']).mean()

                  C         D
A   B
bar one    1.058695 -1.532314
    three  0.050536  0.607687
    two   -1.389943  0.654054
foo one   -0.077161 -0.261990
    three  0.967222 -0.192067
    two   -0.943971  0.583767

In [64]:
index = pd.date_range('10/1/1999', periods=1100)

In [65]:
ts = pd.Series(np.random.normal(0.5, 2, 1100), index)

In [66]:
ts = pd.rolling_mean(ts, 100, 100).dropna()

In [67]:
ts.head()

2000-01-08    0.596701
2000-01-09    0.594828
2000-01-10    0.603428
2000-01-11    0.595399
2000-01-12    0.599507
Freq: D, dtype: float64

In [68]:
ts.tail()

2002-09-30    0.506043
2002-10-01    0.448400
2002-10-02    0.395680
2002-10-03    0.361161
2002-10-04    0.374864
Freq: D, dtype: float64

In [69]:
key = lambda x: x.year

In [70]:
zscore = lambda x: (x - x.mean()) / x.std()

In [71]:
transformed = ts.groupby(key).transform(zscore)

In [72]:
grouped = ts.groupby(key)

In [73]:
grouped.mean()

2000    0.620502
2001    0.462769
2002    0.548081
dtype: float64

In [74]:
grouped.std()

2000    0.112669
2001    0.207801
2002    0.184991
dtype: float64

In [75]:
grouped_trans = transformed.groupby(key)

In [76]:
grouped_trans.mean()

2000    1.512737e-16
2001    3.552714e-16
2002   -3.619247e-16
dtype: float64

In [77]:
grouped_trans.std()

2000    1
2001    1
2002    1
dtype: float64

In [ ]:
compare = pd.DataFrame({'Original': ts, 'Transformed': transformed})

In [ ]:
compare.plot()

In [ ]:
data_df

In [ ]:
countries = nd.array(['US', 'UK', 'GR', 'JP'])

In [ ]:
key = countries[np.random.randint(0, 4, 1000)]

In [ ]:
grouped = data_df.groupby(key)

In [ ]:
grouped.count()

In [ ]:
f = lambda x: x.fillna(x.mean())

In [ ]:
transformed = grouped.transform(f)

In [ ]:
grouped_trans = transformed.groupby(key)

In [ ]:
grouped.mean()

In [ ]:
grouped_trans.mean()

In [ ]:
grouped.count()

In [ ]:
grouped_trans.count()

In [ ]:
grouped_trans.size()

In [ ]:
grouped.ffill()

In [ ]:
sf = pd.Series([1, 1, 2, 3, 3, 3])

In [ ]:
sf.groupby(sf).filter(lambda x: x.sum() > 2)

In [ ]:
dff = pd.DataFrame({'A': np.arange(8), 'B': list('aabbbbcc')})

In [ ]:
dff.groupby('B').filter(lambda x: len(x) > 2)

In [ ]:
dff.groupby('B').filter(lambda x: len(x) > 2, dropna=False)

In [ ]:
dff['C'] = np.arange(8)

In [ ]:
dff.groupby('B').filter(lambda x: len(x['C']) > 2)

In [ ]:
dff.groupby('B').head(2)

In [ ]:
grouped = df.groupby('A')

In [ ]:
grouped.agg(lambda x: x.std())

In [ ]:
grouped.std()

In [ ]:
tsdf = pd.DataFrame(np.random.randn(1000, 3),
                    index=pd.date_range('1/1/2000', periods=1000),
                    columns=['A', 'B', 'C'])

In [ ]:
tsdf.ix[::2] = np.nan

In [ ]:
grouped = tsdf.groupby(lambda x: x.year)

In [ ]:
grouped.fillna(method='pad')

In [ ]:
s = pd.Series([9, 8, 7, 5, 19, 1, 4.2, 3.3])

In [ ]:
g = pd.Series(list('abababab'))

In [ ]:
gb = s.groupby(g)

In [ ]:
gb.nlargest(3)

In [ ]:
gb.nsmallest(3)

In [ ]:
df

In [ ]:
grouped = df.groupby('A')

In [ ]:
grouped['C'].apply(lambda x: x.describe())

In [ ]:
grouped = df.groupby('A')['C']

In [ ]:
def f(group):
    return pd.DataFrame({'original' : group,
                         'demeaned' : group - group.mean()})

In [ ]:
grouped.apply(f)

In [ ]:
def f(x):
    return pd.Series([ x, x**2 ], index = ['x', 'x^s'])

In [ ]:
s

In [ ]:
s.apply(f)

In [ ]:
d = pd.DataFrame({"a":["x", "y"], "b":[1,2]})

In [ ]:
def identity(df):
    print df
    return df

In [ ]:
d.groupby("a").apply(identity)

In [ ]:
df

In [ ]:
df.groupby('A').std()

In [ ]:
data = pd.Series(np.random.randn(100))

In [ ]:
factor = pd.qcut(data, [0, .25, .5, .75, 1.])

In [ ]:
data.groupby(factor).mean()

In [ ]:
import datetime

In [ ]:
df = pd.DataFrame({
             'Branch' : 'A A A A A A A B'.split(),
             'Buyer': 'Carl Mark Carl Carl Joe Joe Joe Carl'.split(),
             'Quantity': [1,3,5,1,8,1,9,3],
             'Date' : [
                 datetime.datetime(2013,1,1,13,0),
                 datetime.datetime(2013,1,1,13,5),
                 datetime.datetime(2013,10,1,20,0),
                 datetime.datetime(2013,10,2,10,0),
                 datetime.datetime(2013,10,1,20,0),
                 datetime.datetime(2013,10,2,10,0),
                 datetime.datetime(2013,12,2,12,0),
                 datetime.datetime(2013,12,2,14,0),
                 ]
             })

In [ ]:
df

In [ ]:
df.groupby([pd.Grouper(freq='1M',key='Date'),'Buyer']).sum()

In [ ]:
df = df.set_index('Date')

In [ ]:
df['Date'] = df.index + pd.offsets.MonthEnd(2)

In [ ]:
df.groupby([pd.Grouper(freq='6M',key='Date'),'Buyer']).sum()

In [ ]:
df.groupby([pd.Grouper(freq='6M',level='Date'),'Buyer']).sum()

In [ ]:
df = pd.DataFrame([[1, 2], [1, 4], [5, 6]], columns=['A', 'B'])

In [ ]:
df

In [ ]:
g = df.groupby('A')

In [ ]:
g.head(1)

In [ ]:
g.tail(1)

In [ ]:
df = pd.DataFrame([[1, np.nan], [1, 4], [5, 6]], columns=['A', 'B'])

In [ ]:
g = df.groupby('A')

In [ ]:
g.nth(0)

In [ ]:
g.nth(-1)

In [ ]:
g.nth(1)

In [ ]:
g.nth(0, dropna='any')

In [ ]:
g.first()

In [ ]:
g.nth(-1, dropna='any')

In [ ]:
g.last()

In [ ]:
g.B.nth(0, dropna=True)

In [ ]:
df = pd.DataFrame([[1, np.nan], [1, 4], [5, 6]], columns=['A', 'B'])

In [ ]:
g = df.groupby('A',as_index=False)

In [ ]:
g.nth(0)

In [ ]:
g.nth(-1)

In [ ]:
business_dates = pd.date_range(start='4/1/2014', end='6/30/2014', freq='B')

In [ ]:
df = pd.DataFrame(1, index=business_dates, columns=['a', 'b'])

In [ ]:
df.groupby((df.index.year, df.index.month)).nth([0, 3, -1])

In [ ]:
df = pd.DataFrame(list('aaabba'), columns=['A'])

In [ ]:
df

In [ ]:
df.groupby('A').cumcount()

In [ ]:
df.groupby('A').cumcount(ascending=False)